html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(30,32,40);
}
div { 
  background-color: rgb(30,32,40);
position: fixed;
  left: 0px;
  top: 700px;
}
canvas {
  display: block;
}
model-viewer#reveal {
   --poster-color: rgb(30,32,40);
  background-color: rgb(30,32,40);
  position: fixed;
  left: 0px;
  top: 0px;
}
model-viewer#naveal {
    --poster-color: rgb(30,32,40);
  background-color: rgb(30,32,40);
  position: fixed;
  left: 0px;
  top: 0px;
}
a:link {
  color: rgb(140,150,200);
}
a:visited {
  color: rgb(140,150,200);
}
